@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader */

.loader {
  --R: 60px;
  --g1: #fe5000 96%, #0000;
  --g2: #eeeeee 96%, #0000;
  width: calc(2 * var(--R));
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  -webkit-mask: linear-gradient(#000 0 0);
  animation: l30 2s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 50%;
  background: radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) + 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) + 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) 0 calc(-1 * var(--R)),
    radial-gradient(farthest-side, var(--g2))
      calc(var(--R) - 0.5 * var(--R) - var(--R))
      calc(var(--R) - 0.866 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) - 0.5 * var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(-1 * var(--R)) 0,
    radial-gradient(farthest-side, var(--g1))
      calc(var(--R) - 0.866 * var(--R) - var(--R))
      calc(var(--R) + 0.5 * var(--R) - var(--R));
  background-size: calc(2 * var(--R)) calc(2 * var(--R));
  background-repeat: no-repeat;
}
.loader::after {
  transform: rotate(180deg);
  transform-origin: right;
}

@keyframes l30 {
  100% {
    transform: rotate(-1turn);
  }
}

.btn-orange-moon {
  background: #fc4a1a;
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  color: #fff;
  border: 3px solid #eee;
}

.btn-pink-moon {
  background: #ec008c;
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  );
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  );
  color: #fff;
  border: 3px solid #eee;
}

.btn-green-moon {
  background: #56ab2f;
  background: -webkit-linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); 
  background: linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); 
  color: #fff;
  border: 3px solid #eee;
}

.btn-purple-moon {
  background: #4e54c8; 
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); 
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); 
  color: #fff;
  border: 3px solid #eee;
}

.btn-ultra-voilet {
  background: #654ea3;
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); 
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); 
  color: #fff;
  border: 3px solid #eee;
}

.btn-cool-blues {
  background: #2193b0; 
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  );
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  );
  color: #fff;
  border: 3px solid #eee;
}

.btn-dark-blue {
  background: #7474bf; 
  background: -webkit-linear-gradient(
    to right,
    #348ac7,
    #7474bf
  );
  background: linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); 
  color: #fff;
  border: 3px solid #eee;
}

.btn-orange-moon {
  background: #fc4a1a;
  background: -webkit-linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); 
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  );
  color: #fff;
  border: 3px solid #eee;
}

.btn-dark-moon {
  background: #141e30;
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); 
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  );
  color: #fff;
  border: 3px solid #eee;
}

.btn-light-moon {
  background: #ffefba; 
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); 
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  );
  color: #000;
  border: 3px solid #eee;
}

.btn-funky-moon {
  background: #a770ef;
  background: -webkit-linear-gradient(
    145deg,
    #fdb99b,
    #cf8bf3,
    #a770ef
  );
  background: linear-gradient(
    145deg,
    #fdb99b,
    #cf8bf3,
    #a770ef
  );
  color: #fff;
  border: 3px solid #eee;
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.bg-pink-moon {
  background-color: #ec008c;
}

.bg-green-moon {
  background-color: #56ab2f;
}


